@font-face {
   font-family: 'GillSans';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans.otf);
}

@font-face {
   font-family: 'GillSansBold';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-Bold.otf);
}

@font-face {
   font-family: 'GillSansItalic';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-Italic.otf);
}

@font-face {
   font-family: 'GillSansBoldItalic';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-BoldItailc.otf);
}

@font-face {
   font-family: 'GillSansLight';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-Light.otf);
}

@font-face {
   font-family: 'GillSansLightItalic';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-LightItalic.otf);
}

@font-face {
   font-family: 'GillSansUltraBold';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-UltraBold.otf);
}

@font-face {
   font-family: 'GillSansSemiBold';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-SemiBold.otf);
}

@font-face {
   font-family: 'GillSansSemiBoldItalic';
   src: url(../fonts/Gill-Sans-Fonts/Gill-Sans-SemiBoldItalic.otf);
}

@font-face {
   font-family: 'PTSerif';
   src: url(../fonts/PT-Serif-Regular.ttf);
}

@font-face {
   font-family: 'PTSerifBold';
   src: url(../fonts/PT-Serif-Bold.ttf);
}

@font-face {
   font-family: 'PTSerifItalic';
   src: url(../fonts/PT-Serif-Italic.ttf);
}

@font-face {
   font-family: 'PTSerifBoldItalic';
   src: url(../fonts/PT-Serif-BoldItalic.ttf);
}
