$primary-color: #EE4367;
$secondary-color: #FDB931;
$dark-purple: #540D6E;
$white: #FFF;
$text-dark: #333;
$text-light: #666;
$font-base: 'GillSans', sans-serif;
$font-bold: 'GillSansBold', sans-serif;
$font-italic: 'GillSansItalic', sans-serif;
$font-light: 'GillSansLight', sans-serif;